//
   Created by KIMDONGWON on 2015-12-07.
extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/fee_history.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap-datepicker3.css')
block content
    .wrapper
        article.container
            h3 회비 수입/지출 내역
            hr
            .content
                table.table
                    thead
                        tr
                            th
                                input.datepicker(type='text', placeholder='월 선택' readonly="readonly")
                            th 구분
                            th 내용
                            th 금액
                    tbody
                        if result.length == 0
                            tr
                                td(colspan=4)
                                    h4 데이터가 없습니다
                        else
                            for row in result
                                tr
                                    td= row.fm_date
                                    if row.fm_money_type === 1
                                        td.text-danger 지출
                                    else
                                        td.text-primary 수입
                                    td= row.fm_money_content
                                    if row.fm_money_type === 1
                                        td.text-danger= row.fm_price
                                    else
                                        td.text-primary= row.fm_price
                    tfoot
                        if result.length != 0
                            tr
                                td
                                td
                                th 월 수입
                                td.text-primary= deposit
                            tr
                                td
                                td
                                th 월 지출
                                td.text-danger= withdraw
                            tr
                                td(colspan=4)
                                    button#excelSave.btn(type='button') 엑셀로 저장
append script
    script(src='http://www.igniteui.com/js/external/FileSaver.js')
    script(src='http://www.igniteui.com/js/external/Blob.js')
    script(src='http://cdn-na.infragistics.com/igniteui/2015.2/latest/js/infragistics.loader.js')
    script(src='../javascripts/bootstrap-datepicker.js')
    script(src='../javascripts/fee_history_index.js')

