//
   Created by KIMDONGWON on 2015-12-14.
extends main_layout
append head
   link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/user_info.css')
   link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
   .wrapper
      article.container
         h3 회원 정보
         hr
         .card
            for row in result
               h5 #{row.u_period} #{row.u_name}
               .profile-img
                  img(src='http://localhost:3000/image?name=#{row.u_photo_url}')
               .profile-content
                  table
                     tbody
                        tr
                           td ID
                           td#id #{row.u_id}
                           td
                        tr
                           td 생년월일
                           td#birth #{row.u_birth}
                              if row.u_sex == 1
                                 span (남)
                              else
                                 span (여)
                           td
                        tr
                           td 전화번호
                           td#phone #{row.u_phone}
                           td
                        tr
                           td E-mail
                           td#mail #{row.u_email}
                           td
                        tr
                           td 모바일 디바이스 정보
                           td#device #{row.u_device}
                           td
                              button.delete 삭제
         .card
            .edit-content
               table
                  tr
                     td 기존 비밀번호
                     td
                        input#currentPW(type='password')
                  tr
                     td 새 비밀번호
                     td
                        input#newPW(type='password')
                  tr
                     td 비밀번호 확인
                     td
                        input#confirmPW(type='password')
                  tr
                     td 전화번호
                     td
                        input#newPhone(type='text')
                  tr
                     td E-mail
                     td
                        input#newMail(type='mail')
                  tr
                     td 사진
                     td
                        input#newImg.sign_up_imgfile(type='file', name='sign_up_img', accept='image/*')
                        label(for='sign_up_img') 사진 선택
                  tr
                     td(colspan='2')
                        button#save.edit-save Save
                  tr
                     td(colspan='2') 기존 비밀번호는 꼭 입력하세요
append script
   script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
   script(src='../javascripts/user_info_index.js')