//
   Created by KIMDONGWON on 2015-12-14.
extends main_layout
append head
   link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/user_info.css')
   link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
   .wrapper
      article.container
         h3 나의 페이지
         hr
         .card
            for row in result
               h4 #{row.u_period} #{row.u_name}
               .profile-img
                  img(src='http://211.189.127.124:3000/image?name=#{row.u_photo_url}')
                  //img(src='http://www.swmem.org/image?name=#{row.u_photo_url}')
               .profile-content
                  table
                     tbody
                        tr
                           td ID
                           td#id #{row.u_id}
                           td
                        tr
                           td 생년월일
                           td#birth #{row.u_birth}
                              if row.u_sex == 1
                                 span (남)
                              else
                                 span (여)
                           td
                        tr
                           td 전화번호
                           td#phone #{row.u_phone}
                           td
                        tr
                           td E-mail
                           td
                              if row.u_mail_flag == true
                                 button.btn#mail #{row.u_email}
                              else
                                 button.btn.prohibit#mail #{row.u_email}
                           td
                        tr
                           td 디바이스 정보
                           if row.u_device != ''
                              td
                              if row.u_push_flag == true
                                 button.btn#device #{row.u_device}
                              else
                                 button.btn.prohibit#device #{row.u_device}
                              td
                                 button#deleteDevice.btn.delete 삭제
                           else
                              td 등록된 디바이스 정보가 없습니다
         .card
            .edit-content
               form#form(method='post', enctype='multipart/form-data', action='/user/info/edit')
                  table
                     tr
                        th 기존 비밀번호
                        td
                           input#currentPW(type='password' name='currentpw')
                     tr
                        td 새 비밀번호
                        td
                           input#newPW(type='password' name='newpw')
                     tr
                        td 비밀번호 확인
                        td
                           input#confirmPW(type='password' name='confirmpw')
                     tr
                        td 전화번호
                        td
                           input#newPhone(type='tel' name='newphone')
                     tr
                        td E-mail
                        td
                           input#newMail(type='text' name='newmail')
                     tr
                        td 사진
                        td
                           input#newImg.new_imgfile(type='file', name='newimg', accept='image/*')
                           label#changeimg(for='newImg') 사진 선택
                     tr
                        td(colspan='2')
                           button#save.btn.edit-save(type='submit') Save
append script
   script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
   script(src='../javascripts/user_info_index.js')